.MainJoke {
  width: 100%;
  background-color: var(--wash);
  max-width: 1050px;
  margin: 0 auto;
  padding: 3rem;
  border-bottom: 1px solid var(--primary-color);
  .ThisJoke {
    width: 100%;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    color: var(--secondary-color);
  }
  &__button {
    width: 100%;
    padding-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media only screen and (max-width: 420px) {
  .MainJoke {
    &__button {
      flex-direction: column;
      gap: 0.5rem;
      width: 100%;
    }
  }
}
