.change {
    padding: 4rem 0 0 0;
    text-align: center;
    font-size: 4rem;
}
.ChangePass {
  max-width: 1150px;
  margin: 0 auto;
  height: 70vh;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
}
